@import '_reset.scss';


// Variables

$padding: 1em;
$inputbreakspace: 7px;

* {
	box-sizing: border-box;
}

// Pseudo grid , do I neeed this shift

.row {
	border-bottom: 1px solid black;
	padding-top: 0.2em;
	padding-bottom: 0.7em;
	&:after {
	content: '';
	display: block;
	clear: both;
	}
}

div[class^="col"] {
	float: left;
	padding-top: 0.55em;
	padding-left:1.5em;
	/* margin-right: 0.4em; */
	background: red;
	padding-right: 0.8em;
}

.col-full {
	width: 100%;
	clear: both;
	float: none;
	padding-right: 0.8em;
}
.col-50 {
	width: calc(100% / 2 );
}



.form-wrap {
	width: 64%;
	width: 635px;
	margin: 0 auto;
	border: 1px solid black;
	font-size: 14px;
}

form {

	
	h3 {
		font-size: 1.6em;
		font-weight: bold;
		margin-top: 0.75em;
		margin-bottom: 0.4em;
		padding-left: 1em;	
	}

	h4 {
		padding-left: 1em;
		font-size: 1.2em;
		margin-top: 0.75em;
		font-weight: bold;
	}

	input, select, textarea {
		width: 100%;
	}

	input[type="submit"] {
		width: auto;
	}

	input, select {
		height: 23px;
	}

	div[class^="col"].single {
		margin-right: 50%;
	}

	.input-group {
		div[class^="col"] {
			padding: 0;
			margin-right: 0.3em;
		}

		.col-50 {
			width: 40%;
		}
		.col-25 {
			width: 24%;
		}
		.col-12 {
			width: 12%;
		}
		.col-10 {
			width:10%;
		}
		.col-8 {
			width: 6%;
		}
		.character {
			float: left;
			font-size: 23px;
			width: 5%;
			text-align: center;
		}

	}


	label {
		display: block;
		font-weight: bold;
		margin: 0.3em 0;
	}

	p {
		font-size: 0.8em;
		margin: 0.6em 0;
	}

}



