@import '_reset.scss';

$padding: 1em;
$inputbreakspace: 7px;

$paginationbackcolor: #e3e3e3;
$pagescolor: #39424d;
$pagesfocus: #13a1e8;
$pageswidth: 3em;
$borderradius: 6px;


// Pseudo grid , do I neeed this shift
.row {
	&:after {
	content: '';
	display: block;
	clear: both;
	}
}

div[class^="col"] {
	float: left;
	padding-left: $padding;
	margin-bottom: 12px;
}

.col-1 {
	width: 100%;
}
.col-2 {
	width: calc(100% / 2 - #{$padding});
}
.col-4 {
	width: calc(100% / 4 - #{$padding});
}

// Helpers
.left {
	float: left;
}
.right {
	float: right;
}
.inline {
	display: inline-block;
}

// Same shuft like always

@mixin basic-list($pad) {
	list-style: none;
	padding-left: $pad;
	li {
		display: inline-block;
		padding: $pad / 2;
	}
}

form {

	input, textarea {
		width: 100%;
	}

	input[type="submit"] {
		width: auto;
	}

	label {
		display: block;
		font-weight: bold;
	}

	select {
		width: 100%;
	}

	.inline {
		display: inline-block;
		vertical-align: top;
		input {
			width: calc(100% - #{$inputbreakspace});
		}
	}

	.input-date .inline > input {
		width: 30px;
	}
	.input-date .inline:last-child > input {
		width: 60px;
	}

	h3, h4 {
		padding-left: $padding;
	}

	span {
		display: block;
		font-size: 0.8em;
	}

}

@import 'footer.scss';

.pagination {
	background-color: $paginationbackcolor;
	text-align: center;
	ul {
		@include basic-list($padding);
		padding: $padding;
	}

	li {
		background-color: $pagescolor;
		width: $pageswidth;
		border-radius: $borderradius;
	}

	li.focus {
		background-color: $pagesfocus;
	}

	li.transparent {
		background-color: transparent;	
	}
	
}

.zone {
	.img-wrap {
		text-align: center;
	}

	h4 {
		font-size: 1.7em;
		font-weight: 100;
		margin: 1em 0;
		color: #22cc22;
	}
}